{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=hea, initial-scale=1.0">
    <title>{% block title%}Article App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="#" class="navbar-brand">Ademola_oba</a>
            <nav class="navbar navbar-expand-md sticky-top">
                <button class="navbar-toggler" style="background-color: black;" id="navBtn" type="button" data-toggle="collapse" data-target="#toggle">
                    <i class="fa fa-bars" style="color: white;"></i>
                </button>
                <div class="collapse navbar-collapse" id="toggle">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'article:article_lists' %}" class="nav-link">Article</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <br><br> <br>
        <div class="container">
            {% block content %} 
        
            {% endblock %}  
        </div>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>