{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="card contain">
    <div class="card-body">
        <h3>Delete</h3>
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ article.title }}"?</p>
            <button type="submit" class="btn btn-danger">Comfirm</button>  
            <button type="submit" class="btn btn-secondary"><a href="{% url 'articles:article_detail' article.slug article.pk %}">Go back</a></button>
        </form>
    </div>
</div>
{% endblock %}