{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="contain flex ">
    <main role="main" class="flex-main jumbotron">
        <h1 class="text-center"><b>Latest Article</b></h1>
        {% for article in articles %}
        {% get_comment_count for article as comment_count %}
        <div class="card mb-4">
            <h3><a class="card-title" href="{% url 'articles:article_detail' article.pk %}">{{ article }}</a></h3>
            <p class="card-text text-muted">Date: {{ article.date_added }}</p>
            {% if comment_count %}
                <p>{{ comment_count }} comment{{ comment_count|pluralize }} </p>
            {% endif %}
           <!-- <a class="btn btn-link" href="{% url 'articles:article_detail' article.pk %}">comment: {{article.comments.count}}</a>-->
        </div>
        {% endfor %}
    </main>
    
    <aside class="flex-aside">
        <button class="btn btn-dark"><a href="{% url 'articles:article_create' %}"><i class="fa fa-plus fa-lg">New Article</i></a></button>
        <a href=""></a>
    </aside>
</div>
{% endblock %}