{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% load humanize %}
{% load read_time %}
{% load martortags %}
{% block title %}articles{% endblock %}

{% block content-img %}
    <img class="contain-img" src="{% static 'images/pexels-photo-3023358n3.jpeg' %}" alt="Photo">
{% endblock  %}   

{% block content %}
<div class="container max-width jumbotron">
    <div class="row justify-content-center">
        <main class="col-md-8 mb-5">
            <div class="card">
                <h1 class="text-center card-header lead"><b>Articles</b></h1>
                <div class="card-body border border-dark">
                    {% for article in articles %}
                    {% get_comment_count for article as comment_count %}
                        <div class="mb-4 row justify-content-between article">
                            <div class="col-md-4">
                                <a href="{% url 'articles:article_detail' article.slug article.pk %}"><img width="100%" src="{{ article.image.url }}" alt="{{ article.image.name }}"></a>
                            </div>
                            <div class="col-md-8">
                                <h1 class="lead"><a class="card-title lead"  href="{% url 'articles:article_detail' article.slug article.pk %}">{{ article.title }}</a></h1>
                                <p class="card-text text-muted lead" style="display: inline;"><i class="fas fa-calendar-alt pr-3"> {{article.date_added|naturaltime }}</i></p>
                                {% if comment_count %}
                                    <p class="card-text text-muted lead" style="display: inline;"><i class="fas fa-comments"> {{ comment_count }} comment{{ comment_count|pluralize }} </i></p>
                                {% endif %}
                                <hr>
                                <!-- <p class="lead">{{ article.body|truncatewords:20|safe }}</p> -->
                                <a class="btn d-block read-more" href="{% url 'articles:article_detail' article.slug article.pk %}">Read More</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        {% if is_paginated %}
                
                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-info lead" href="?page=1">First</a>
                                <a class="btn btn-outline-info lead" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-info lead" href="?page={{ page_obj.next_page_number }}">Next</a>  
                                <a class="btn btn-outline-info lead " href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-md-4 mb-5">
            <div class="card border border-dark mb-3">
                <div class="card-body">
                    <form class="form-inline" action="{% url 'articles:search' %}" method="GET"> 
                        <input class="form-control mr-sm-2" type="text" name="q" placeholder="What are you  looking for?">
                        <button type="submit" class="btn btn-info my-2 my-sm-0"><i class="fas fa-search mr-2"></i>Search</button>
                    </form>
                    <!-- <a class="nav-link" href="{% url 'articles:search' %}"><i class="fas fa-search mr-2"></i>Search</a> -->
                </div>
            </div>
            <div class="card mb-4">
                <h3 class="card-header lead">Latest Articles</h3>
                <div class="card-body border border-dark">
                    {% for article in latest_article %}
                    <div class="row justify-content-between article mb-3">
                        <div class="col-4">
                            <a href="{% url 'articles:article_detail' article.slug article.pk %}"><img width="100%" src="{{ article.image.url }}" alt="{{ article.image.name }}"></a>
                        </div>
                        <div class="col-8">
                            <p class="card-text lead"><a href="{% url 'articles:article_detail' article.slug article.pk %}">{{ article }}</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <h3 class="card-header lead">Categories</h3>
                <div class="card-body border border-dark article">
                    {% for category in categories %}
                    <h6 class="card-title lead"><a href="{% url 'articles:category_list' category.title %}">{{ category.title }}</a></h6>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}

