{% extends 'base.html' %}
{% load humanize %}
{% load comments %}
{% load comments_xtd %}
{% load crispy_forms_tags %}
{% load static %}
{% load read_time %}
{% load martortags %}
{% load bleach %}
{% block title %}{{ article.slug }}{% endblock %}

{% block content %}
<div class="container">
    <main class="row justify-content-center my-5">
        <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="card ">
                <img class="" src="{{ article.image.url }}" alt="{{ article.image.name }}" width="100%">
                <div class="card-header text-center">
                    <div class="my-2">
                        <h3 class="card-title"><strong>{{article.title }}</strong></h3>
                        {% for tag in article.tags.all %}
                        <span class="badge badge-info px-2"><a class="text-white" href="{% url 'articles:tags' tag.slug %}">{{ tag }}</a></span>
                        {% endfor %}
                    </div>
                    <small class="text-muted"><span class="mr-3"><i class="fas fa-user mr-1"></i>{{article.author.username}}</span><span class="mr-3"><i class="fas fa-calendar-alt mr-1"></i>{{ article.date_added|naturaltime }}</span><span class="mr-3"><i class="fas fa-clock mr-1"></i>{{ article.body|read }}</span></small>
                </div>
                <div class="card-body body-content article mb-5">
                    <div>
                        <p>{{ article.body|safe_markdown  }}</p>
                    </div>
                    {% if article.author == request.user %}
                    <div class="text-center my-3">
                        <a class="card-link btn btn-outline-dark" href="{% url 'articles:article_update' article.slug article.pk %}">Edit</a>
                        <a class="card-link btn btn-outline-dark" href="{% url 'articles:article_delete' article.slug article.pk %}">Delete</a>
                        <a class="card-link btn btn-outline-dark" href="{% url 'articles:article_lists' %}">View all Articles</a>
                    </div>
                    {% else %}
                    <div class="text-center my-3">
                        <a class="card-link btn btn-outline-dark" href="{% url 'articles:article_lists' %}">View all Articles</a>
                    </div>
                    {% endif %}
                    <section class="text-center mt-3">
                        <p><a style="color: darkcyan;" href="{% url 'pages:home' %}#subscribe">Subscribe</a> to my mailing list to receive updates from the blog</p>
                    </section>
                    <section>
                        <div >
                            Tags:
                            {% for tag in article.tags.all %}
                              <span class="badge badge-info px-2"><a class="text-white" href="{% url 'articles:tags' tag.slug %}">{{ tag }}</a></span>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <aside>
        <div class="row justify-content-center mb-5">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="card">
                    <div class="card-footer">
                        <div id=comments></div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
{% endblock %}

{% block extra-js1 %} 
    <script>
        window.comments_props = {% get_commentbox_props for article %};
        window.comments_props_override = {
            allow_feedback: true, 
            show_feedback: true, 
            allow_flagging: true, 
            polling_interval: 5000 // In milliseconds. 
        }; 
    </script>

{% endblock %}

{% block extra-js2 %} 
    <script> 
        $(function() {
            $('[data-toggle="tooltip"]').tooltip({html: true}); 
        });
    </script>
{% endblock %}