{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="SH1FCBDzCCXrsC4rIvasxY36g_QUphIQG1NPoDZYO48" />
    <link rel="icon" href="{% static 'favicon.ico' %}"  type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <!-- <link href="https://myCDN.com/prism@v1.x/themes/prism.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <title>{% block title %}Jokotoye Ademola Blog{% endblock title %}</title>
</head>
<body class="bg-light">
    {% include 'messages.html' %}
    <header class="sticky-top" style="z-index: 10;">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand brand mt-2 ml-0" href="{% url 'pages:home' %}"><img style="width: 12.5rem; height: 3.125rem; box-shadow: 2px 2px whitesmoke;" src="{% static 'images/Milton State Kings(3).png' %}" alt="logo"></a>
            <button id="nav-btn" onclick="changeNavBtnIcon()" class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i id="nav-icon" class="fas fa-bars"></i>
            </button> 
            <div class="collapse navbar-collapse" id="navbarCollapse">  
                <ul id="activeList" class="navbar-nav mr-auto mt-1 head">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'articles:article_lists' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:contact' %}">Get in touch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://jokotoye18-portfolio.herokuapp.com/">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://jokotoye-blog.s3.us-east-2.amazonaws.com/Jokotoye-Ademola-Akin.pdf">Resume<i class="fas fa-download ml-1"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:about' %}">About</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav mr-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-secondary" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user mr-2"></i>{{ user.username }}</a> 
                        <div class="dropdown-menu dropdown-menu-right dropdown" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{% url 'password_change'%}">Change password</a> 
                            <a class="dropdown-item" href="{% url 'accounts:account_update' request.user.username %}">Account Update</a>
                            <div class="dropdown-divider"></div> 
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-2"></i>Log Out</a>
                        </div> 
                    </li>
                </ul>
                {% else %}
                <div class="mr-3 head">
                    <form class="form-inline my-2 my-lg-0 "> 
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary mx-1"> Log In</a> 
                        <a href="{% url 'accounts:signup' %}" class="btn btn-primary mx-1">Sign up</a> 
                    </form>
                </div> 
                {% endif %}
                <div class="">
                    <ul class="navbar-nav head">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'articles:search' %}"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'articles:articles_feed' %}"><i style="color: #ee802f;" class="fas fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
            </div> 
            </nav>
        </div>
    </header> 
    {% block content-img %}
    {% endblock content-img %}
    
    {% block content %}
    {% endblock content %}
    
    {% block foot %} 
    <div class=" d-flex my-4 justify-content-center social position fixed article">
        <a  href="https://www.linkedin.com/in/jokotoye-ademola-akin-12b539175/" target="_blank"><i class="fab fa-linkedin  mx-3 linkedin"></i></a>
        <a  href="https://twitter.com/AkinJokotoye" target="_blank"><i class="fab fa-twitter  mx-3 twitter"></i></a>
        <a  href="{% url 'pages:contact' %}"><i class="fas fa-envelope mx-3 contact"></i></a>
    </div>
    {% endblock %}

    <footer class="text-center py-2">
        <div class="container">
            <p class="lead">© 2020 | Developed by <a href="{% url 'pages:about' %}">Ademola_oba</a></p>
        </div>
    </footer>

    {% block extra-js1 %}
    {% endblock  %}
    <script src="{% static 'js/events.js' %}" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- <script src="https://myCDN.com/prism@v1.x/components/prism-core.min.js"></script>
	<script src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'django_comments_xtd/js/vendor~plugin-2.3.1.js' %}"></script> 
    <script src="{% static 'django_comments_xtd/js/plugin-2.3.1.js' %}"></script>
    {% block extra-js2 %}
    {% endblock  %}
</body>
</html>