{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content-img %}
    <img class="contain-img" style="margin-top: -3rem;" src="{% static 'images/pexels-photo-3023358n3.jpeg' %}" alt="Photo">
{% endblock  %}   

{% block content %}
<div class="container max-width jumbotron">
    <div class="row justify-content-between">
        <main class="col-md-8 mb-5" role="main">
            <h1>Ademola</h1>
        </main>
        <aside class="col-md-4">
            <div class="card mb-4">
                <div id="subscribe" class="card-body">
                    <h3 class="card-title">Subscribe now</h3>
                    <p class="lead card-text">Subscribe to my mailing list to receive updates from the blog</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-block btn-secondary subscribe">subscribe</button>
                    </form>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <div>
                        <h3 class="card-title mb-2 border border-dark border-top-0 border-left-0 border-right-0  pb-1 text-center">About me</h3>
                    </div>
                    <figure class="">
                        <a href="{% url 'pages:about' %}"><img title="Jokotye Ademola Akin" class="card-img-top rounded my-4 about"   src="{% static 'images/Optimized-IMG_20190618_135907_7.jpg' %}" alt="Jokotoye Ademola Akin" ></a>
                        <figcaption class="lead">Jokotoye Ademola Akin is a Biomedical Engineering student at University of ilorin, Nigeria. He's currently in his final year of studies and keen to pursue careers in applied programming for healthcares and biomedical industries. <a href="{% url 'pages:about' %}">Read more</a></figcaption>
                    </figure>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <h1 class="card-title mb-3">Books</h1>
                    <p class="card-text"><strong>Django books I recommend</strong></p>
                    <hr>
                    <div class="mb-5">
                        <img class="card-img-top" src="{% static 'images/django-for-beginners.jpg' %}" alt="Django for beginners">
                        <a class="card-link" href="https://www.amazon.com/Django-Beginners-Build-websites-Python/dp/1983172669/ref=pd_lpo_14_t_2/138-6106505-1440266?_encoding=UTF8&pd_rd_i=1983172669&pd_rd_r=505c7689-252c-48e8-bd45-1c6fdb139e18&pd_rd_w=WTriw&pd_rd_wg=G78gi&pf_rd_p=7b36d496-f366-4631-94d3-61b87b52511b&pf_rd_r=6S3T43CXQZP175RD3MJ2&psc=1&refRID=6S3T43CXQZP175RD3MJ2" target="_blank">Django for Beginners: Build websites with Python and Django</a>
                        <hr>
                    </div>
                    <div class="mb-5">
                        <img class="card-img-top" src="{% static 'images/django-for-professionals.jpg' %}" alt="Django for professionals">
                        <a class="card-link" href="https://www.amazon.com/Django-Professionals-Production-websites-Python/dp/1081582162/ref=pd_lpo_14_img_1/138-6106505-1440266?_encoding=UTF8&pd_rd_i=1081582162&pd_rd_r=c475abe0-5c97-452a-9110-54192cd4e689&pd_rd_w=oVDum&pd_rd_wg=BHNJ3&pf_rd_p=7b36d496-f366-4631-94d3-61b87b52511b&pf_rd_r=FJDAJDRM7MMJWTQX7PJ5&psc=1&refRID=FJDAJDRM7MMJWTQX7PJ5" target="_blank">Django for Professionals: Production websites with Python & Django</a>
                        <hr>
                    </div>
                    <div class="mb-5">
                        <img class="card-img-top" src="{% static 'images/two_scoops_1.8.jpg' %}" alt="Two scoops: Best practice">
                        <a href="https://www.amazon.com/Two-Scoops-Django-Best-Practices/dp/0981467342/ref=pd_sbs_14_3/138-6106505-1440266?_encoding=UTF8&pd_rd_i=0981467342&pd_rd_r=05ff270c-108e-43a8-924f-65c6ce52a258&pd_rd_w=1sBKQ&pd_rd_wg=evVdj&pf_rd_p=bc074051-81d1-4874-a3fd-fd0c867ce3b4&pf_rd_r=M8GVBH9SDCH0VCAS2MTM&psc=1&refRID=M8GVBH9SDCH0VCAS2MTM" target="_blank">Two Scoops of Django: Best Practices for Django 1.8 3rd Edition</a>
                        <hr>
                    </div>

                </div>

            </div>
        </aside>
    </div>
</div>
{% endblock %}