*{
    text-decoration: none;
    border: none;
}
*,	*:before,	*:after	{		
    box-sizing:	border-box; 
}
a:link{
    color: #007bff;
}
/* a:visited{
    color: #17dac7;
} */
a:hover{
    color: #8bb4e0;
}
.head a{
    transition: all 1.5s;
}
.head a:hover{
    background-color: black;
    border-radius: 0.3em;
}
section ul{
    padding: 0;
}
section ul a{
    color: grey;
    padding: 1em;
    margin: 1em 0;
    display: block;
}
.active{
    background-color: black;
    border-radius: 0.3em;
}
.asteriskField,#hint_id_username,#hint_id_password1,#hint_id_password2,#hint_id_new_password1{
    display: none;
}
header{
    background: rgb(33, 48, 56);
    width: 100%;
}
footer{
    background: rgb(33, 48, 56);
    width: 100%;
}

.brand{
    text-align: center;
}
.contain{
    width: 95%;
    margin: 0 auto;
    max-width: 800px;
}
.contain-img{
    width: 100%;
    margin-top: -3em;
    opacity: 0.9;
}
footer{
    
    background-color: rgb(33, 48, 56);
    color: beige;
}
.foot{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-main{
    width: 70%;
}
.flex-aside{
    width: 25%;
}
.home-bg{
    background-color: rgb(248, 248, 248);
}
.archive{
    margin: 0 2em;
}
.max-width{
    max-width: 800px;
}
.facebook-color{
    color: #3b5998;
}
.instagram-color{
    color: #ffdc7d;
}
.linkedin-color{
    color: #007bb5;
}
.twitter-color{
    color: #1da1f2;
}
.contact-color{
    color: #D44638;
}
.about-img{
    box-shadow: 10px 10px grey;
}

.side{
    position: fixed;
    left: 0;
    top: 0;
    height: 100px !important;

}

.search:hover{
    background-color: black;
    border-radius: 0.3em;
    margin: 1rem 0;
}

.article{
    font-size: 1.3rem;
    line-height: 1.8;

}
ul .about{
    list-style-type: square;
}

code{
    background-color: whitesmoke;
    border: 1px solid #E8E8E8;
    padding: 1px 5px;
}
pre{
    border: 1px solid #E8E8E8;
}

a.read-more:hover {
    background-color: #212529;
    color: #ffffff;
}
.article a{
    color: #212529;
}
.article a:hover{
    font-weight: 600;
}
.img-container{
    position: relative;
    text-align: center;
    color: #000000;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bold{
    font-weight: bolder;
}
div.error{
    color: #E8E8E8;
    background-color: #212529;
    padding: 5rem;
}

div.error h1 {
    font: larger;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
}
div.error a{
    display: block;
    width: 50%;
    margin:  0 auto;
    text-align: center;
}
div.error p{
    text-transform: uppercase;
}
.article-border{
    border-bottom: 1px dotted #212529;
    padding: 1.3rem 0;
    margin-bottom: 1rem;
}
