*{
    text-decoration: none;
    list-style: none;
}
a:hover{
    text-decoration: none;
}
.asteriskField,#hint_id_username,#hint_id_password1,#hint_id_password2,#hint_id_new_password1{
    display: none;
}
header{
    background: rgb(33, 48, 56);
    width: 100%;
}
.center{
    width: 100%;
    margin: 0, auto;
}
.brand{
    text-align: center;
}
.contain{
    width: 95%;
    margin: 0 auto;
    max-width: 900px;
}
.contain-img{
    width: 100%;
    margin-top: -5em;
}
footer{
    
    background-color: rgb(33, 48, 56);
    color: beige;
}
.foot{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-main{
    width: 70%;
}
.flex-aside{
    width: 25%;
}
.home-bg{
    background-color: rgb(248, 248, 248);
}
.archive{
    margin: 0 2em;
}

@media (max-width:600px){
    
}